body {
    margin: 0;
    background: #323232;
    font-family: 'Open Sans', sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: white;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border: none;
}

td {
    width: 106px;
    height: 106px;
    padding: 0;
    border: 3px solid lightgray;
    text-align: center;
    vertical-align: middle;
}

td:first-child {
    border-left: none;
}

td:last-child {
    border-right: none;
}

tr:first-child td {
    border-top: none;
}

tr:last-child td {
    border-bottom: none;
}

svg {
    display: inline-block;
}